.btn-lg {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    margin: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.product {
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    color: #333;
}

p, a {
    color: #666;
    font-size: 1.2rem;
}

img{
    max-height: 400px;
}
